<div class="row">
  <div class='col-md-1 cell--characteristic--name' >  
    <span class='<%= "alert alert-danger" if characteristic.errors.details.keys.include?(:name) %>'  >
        <%= f.text_field :name, value: characteristic.name, autocomplete: 'off', size: 40, class: 'form-control', type: '' %>
       
      
      <label class='text-muted small form-text' for=''>Name</label>
    </span>
   
  </div>

  <div class="col-md-2">
    <%= link_to "Cancel", characteristics_path,  {class: "btn btn-secondary"} %>
    <%= f.submit "Save", class: "btn btn-primary pull-right" %>
  </div>
</div>
