<div class='hg-col col-sm-1 characteristic--name'> <%= characteristic.name %></div>









<div class=" scaffold-line-buttons col-md-2" >
  

  
    <%= form_with url: characteristic_path(characteristic), html: {data: {'turbo-confirm': "Are you sure you want to delete #{ characteristic.name }?" }, style: "display: inline-block;"}, method: :delete do |f| %>
      <%= f.submit "Delete".html_safe,  class: "delete-characteristic-button btn btn-primary btn-sm" %>
    <% end %>
  

  
  <%= link_to "Edit ".html_safe, edit_characteristic_path(characteristic), disable_with: "Loading...", class: "edit-characteristic-button btn btn-primary btn-sm" %>
  
</div>
