<%= turbo_frame_tag "__things-list"   do %>

  <div class="container ">
    
      <h4>
        THINGS
      </h4>
    

    
    <%= render partial: "things/new_button", locals: {} %><br />
    

    
      
        <div class="row hg-row ">
          <div class='col-sm-1 hg-heading-row heading--thing--person_id' >Person</div>
<div class='col-sm-1 hg-heading-row heading--thing--bbb' ><% if ( false || policy(@things).bbb_able? ) %>Bbb<% end %></div>
<div class='col-sm-1 hg-heading-row heading--thing--ccc' ><% if ( false || policy(@things).ccc_able? ) %>Ccc<% end %></div>
<div class='col-sm-1 hg-heading-row heading--thing--ddd' >Ddd</div>
<div class='col-sm-1 hg-heading-row heading--thing--eee' >Eee</div>
<div class='col-sm-1 hg-heading-row heading--thing--fff' >Fff</div>
<div class='col-sm-1 hg-heading-row heading--thing--iii' >Iii</div>
<div class='col-sm-1 hg-heading-row heading--thing--sss' >Sss</div>
<div class='col-sm-1 hg-heading-row heading--thing--ttt' >Ttt</div>
<div class='col-sm-1 hg-heading-row heading--thing--mmm' >Mmm</div>

          

          

          <div class=' scaffold-col-heading scaffold-col-heading-buttons col-sm-1' >
          </div>
        </div>
      
      
      <% if things.empty? %>
    <div>
        None
    </div>
      <% end %>
      <% things.each do |thing| %>
        <%= render partial: 'things/line', locals: {thing: thing}
            .merge(defined?(nested_for) ? {nested_for: nested_for} : {})
      
        %>
      <% end %>
      
    <% if things.respond_to?(:total_pages) %><%= paginate(things) %> <% end %>
  


  
  </div>
<% end %>
